body {
	background-image: url(../../images/mobile/bublr_bg.png);
}

@font-face {
	font-family: 'JournalRegular';
	src: url('../../fonts/journal-webfont.eot');
	src: url('../../fonts/journal-webfont.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/journal-webfont.woff') format('woff'),
	url('../../fonts/journal-webfont.ttf') format('truetype'),
	url('../../fonts/journal-webfont.svg#JournalRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

.ui-body-b {
	background:none;
}
.centered {
	width:320px;
	margin-left:50%;
	left:-160px;
	position:absolute;
	margin-top:10px;
}
#formdiv {
	width:270px;
	height:280px;
	padding:20px;
	padding-left:33px;
	background-image:url('../../images/mobile/bublr_search_bg.png');
	font-family: 'JournalRegular';
	font-size:26px;
}
.min-width-480px .ui-select {
	width:255px;
	margin-top:0px;
	font-size:14px;
}
#results {
	background-image: url('../../images/mobile/results_bg.png');
	width: 280px;
	height:410px;
	padding: 20px;
	padding-top: 15px;
}
#results .min-width-480px .ui-select {
	width: 280px;
}

#productselect {
	padding-left:13px;
	padding-bottom:10px;
	border-bottom:1px solid #7797b0;

}
#indicatie {
	background-image: url(../../images/mobile/indicatie.png);
	height:13px;
	width: 24px;
	padding:12px;
	color:white;
	padding-top:13px;
	position: relative;
	margin-left: -13px;
}
.vervang {
	margin:0px;
	margin-top:10px;
}
.vervang option {
	font-size: 14px;
}

.blokje {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cee2f3', endColorstr='#f4f8fc'); /* voor IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#cee2f3), to(#f4f8fc)); /* voor webkit browsers */
	background: -moz-linear-gradient(top, #cee2f3, #f4f8fc); /* voor firefox 3.6+ */
	padding:13px;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #7797b0;
	overflow: hidden;
}
.blokje p {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	margin: 0px;
}
.blokje div {
	float: left;
	width: 190px;
}

/* Tweets */
#tweets {
	min-height: 270px;
}

#tweets.empty {
	background: url(../../images/mobile/tweets_empty.png) center no-repeat;
}

#tweets .blokje {
	cursor: pointer;
}

#tweets .blokje img {
	float: left;
	width: 46px;
	height: 46px;
	margin-right: 10px;
}

/* Search button */
#searchbutton {
	border: 0;
	text-indent: -9999px;
	overflow: hidden;
	display: block;
	width: 254px;
	height: 58px;
	margin-top: 20px;
	background: url(../../images/mobile/search_button.png) 0 0 no-repeat;
	cursor: pointer;
}

#searchbutton.disabled {
	background-position: 0 -116px;
}

#searchbutton.waiting {
	background-position: 0 -58px;
}