# Don't send server information
	ServerSignature Off

# Don't allow folder listing
	Options -Indexes

# PHP settings
	php_flag magic_quotes_gpc off
	php_flag register_globals Off
	php_value memory_limit 256M
	php_value upload_max_filesize 32M
	php_value post_max_size 32M
	php_value max_input_time 300
	php_value max_execution_time 300

# Enable redirecting
	RewriteEngine on
	RewriteBase /

# Force www
#	RewriteCond %{HTTP_HOST} !^www\.(.*) [NC]
#	RewriteCond %{HTTP_HOST} !^assets1\.(.*) [NC]
#	RewriteCond %{HTTP_HOST} !^assets2\.(.*) [NC]
#	RewriteCond %{HTTP_HOST} !^assets3\.(.*) [NC]
#	RewriteCond %{HTTP_HOST} !^localhost$ [NC]
#	RewriteRule (.*)$ http://www.%{HTTP_HOST}/$1 [R=301,NC,L]

# Force use of index.php
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php [NC,L]
